{% extends './base.html' %}

{% block title %}Perfil de Estudiante{% endblock %}

{% block customCSS %}
<!-- Puedes añadir estilos personalizados aquí si es necesario -->
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Bienvenido, {{ current_user.username }}</h2>
    <p>Rol: {{ current_user.rol }}</p>

    <!-- Ejemplo de un enlace más descriptivo -->
    <a href="{{ url_for('agregar_alumno') }}" class="btn btn-primary">Agregar Alumno</a>
    <a href="{{ url_for('lista_alumno') }}" class="btn btn-primary">lista_alumno</a>

    <a class="btn btn-secondary mt-3" href="{{ url_for('logout') }}">Cerrar sesión</a>
</div>
{% endblock %}