{% extends './base.html' %}

{% block title %}Lista de Alumnos{% endblock %}

{% block body %}
<h2>Lista de Alumnos</h2>

<form action="{{ url_for('lista_alumno') }}" method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Buscar por nombre, apellido o matrícula" value="{{ search_term }}">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Buscar</button>
        </div>
    </div>
</form>

{% if alumnos %}
<table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Matrícula</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for alumno in alumnos %}
      <tr>
        <td>{{ alumno.id_alumno }}</td>
        <td>{{ alumno.nombre }} {{ alumno.apellido }} {{ alumno.segundo_apellido }}</td>
        <td>{{ alumno.matricula }}</td>
        <td><a href="{{ url_for('alumno_detalle', matricula=alumno.matricula) }}">Ver detalles</a></td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% else %}
<p>No se encontraron alumnos.</p>
{% endif %}

<a class="btn btn-secondary" href="{{ url_for('administrativo') }}">Volver</a>
{% endblock %}