{% extends './base.html' %}

{% block title %}Página del Maestro{% endblock %}

{% block customCSS %}
<!-- Aquí puedes añadir cualquier CSS personalizado -->
{% endblock %}

{% block body %}
<h2>Bienvenido, Maestro {{ maestro.nombre }} {{ maestro.apellido }}</h2>

<h3>Tus Materias:</h3>
{% if materias %}
    {% for materia in materias %}
    <div class="materia-block">
        <h4>{{ materia.nombre_materia }}</h4>
        <p>Carrera: {{ materia.nombre_carrera }}</p>
        <p>Grupos:</p>
        <ul>
        {% for grupo in materia.grupos %}
            <li><a href="{{ url_for('grupo_detalle', grupo_id=grupo) }}">{{ grupo }}</a><br>
            <label for=""> materia: {{materia.nombre_materia}}</label></li>
            
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
{% else %}
    <p>No se encontraron materias asignadas</p>
{% endif %}

<a class="btn btn-secondary" href="{{ url_for('logout') }}">Cerrar sesión</a>
{% endblock %}