{% extends './base.html' %}

{% block title %}{% if grupo %}Modificar Grupo{% else %}Agregar Nuevo Grupo{% endif %}{% endblock %}

{% block customCSS %}
<style>
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container form-container">
    <h2 class="mb-4">Modificar grupo</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form method="POST" action="" id="modificar_grupo" name="modificar_grupo">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del Grupo</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required autocomplete="off" 
               value="{{ grupo[0].nombre_grupo if grupo else '' }}">
    </div>

    <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="descripcion" name="descripcion" rows="3" required>{{ grupo[0].descripcion if grupo else '' }}
        </textarea>
    </div>
    <input type="number" id="id_grupo"name="id_grupo" value="{{grupo[0].id_grupo if grupo else ''}}" hidden>
    <div class="mb-3">
        <label for="carrera" class="form-label">Carrera</label>
        <select class="form-select" id="carrera" name="carrera" required>
            <option value="">Selecciona la carrera</option>
            {% if carreras %}
                {% for carrera in carreras %}
                    <option value="{{ carrera.id_carrera }}" 
                            {% if grupo and grupo.id_carrera == carrera.id_carrera %}selected{% endif %}>
                        {{ carrera.nombre }}
                    </option>
                {% endfor %}
            {% else %}
                <option disabled>No se encuentran carreras</option>
            {% endif %}
        </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Modificar Grupo</button>
</form>

    <a class="btn btn-secondary mt-3" href="{{ url_for('administrativo') }}">Volver</a>
</div>
{% endblock %}